@import url(fonts.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f195ac;
}

li {
  list-style-type: none;
}

body {
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
  color: #f195ac;
}

.user {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
}

.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.header_title {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Vice City";
  font-size: 60px;
}

.navigation {
  width: 70%;
  font-family: "Vice City";
  font-size: 25px;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.imgs_slider {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30%;
}

.survey {
  width: 70%;
}

.survey_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  font-family: "Vice City";
  font-size: 25px;
}

.survey_container .survey_title {
  font-size: 45px;
  text-decoration: underline;
}

.survey_container .survey_submit {
  font-family: "Vice City";
  font-size: 30px;
}

.survey_songs::before {
  content: "Choose songs starting from the one you like most:";
}

.survey_songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.survey_sex_age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.survey_sex_age .survey_female {
  margin-left: 10px;
}

.survey_sex_age .survey_age {
  margin-left: 10px;
}

.song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 10px;
}

.song[data-descr]::before {
  content: attr(data-descr);
  width: 20px;
}

.statistics_container {
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

.statistics_query_name {
  margin: 20px;
}

.statistics_result_table {
  margin: 0 auto;
}

.statistics_result_table th {
  padding: 5px;
  border: 1px solid white;
}

.statistics_result_table td {
  padding: 5px;
  border: 1px solid white;
}

.flash.success {
  border: 1px solid yellow;
  color: green;
  padding: 10px;
}

.flash.error {
  border: 1px solid yellow;
  color: red;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */