@import url(../fonts.css);

* {
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;

    height: 100vh;

    color: white;
    font-family: "Vice City";
    font-size: 20px;

    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        div {

            font-size: 30px;            
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        width: 15%;
        height: 30%;
        form {
            
            label {
                text-align: start;
            }

            input {
                margin: 7px;
                
            }

            text-align: center;
            display: flex;
            flex-direction: column;

            div {
                a {
                    margin-left: 5px;
                    font-size: 20px;
                    color: pink;
                }
            }
        }
    }
}

.register_sex_age {
    .register_age {
        margin-left: 5px
    }
}