{%extends 'admin_main.html'%}

{%block nav%}
<li><a href="/admin">Survey</a></li>
<li><a href="/admin_playlists">Playlists</a></li>
<li><a href="/admin_statistics">Statistics</a></li>
{%endblock%}

{%block content%}

<div class="statistics_container">
    {%for query_name, result_table in stat_queries.items()%}
    <div>
        <div class="statistics_query_name">{{query_name}}</div>
        {% if result_table %}
            <table class="statistics_result_table">
                <tr>
                {% for field_name in result_table[0].keys() %}
                    <th>{{field_name}}</th>
                {%endfor%}
                </tr>

                {% for record in result_table %}
                    <tr>
                    {% for value in record.values() %}
                        <th>{{value}}</th>
                    {%endfor%}
                    </tr>
                {%endfor%}
            </table>
        {% else %}
            <div class="statistics_error">Недостаточно информации...</div>
        {%endif%}
    </div>
    {%endfor%}
</div>

{%endblock%}