<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login/login_register.css')}}">
    <title>{%block title%}Login{%endblock%}</title>
</head>
<body>
    <div>
        <div>{%block auth_type %} Login {%endblock%}</div>
        <form action="" method="post">
            {%block user_data %}
                <label for="">Email</label>
                <input name="email" type="email" name="" id="" placeholder="email..." required>
                <label for="">Password</label>
                <input name="password" type="password" name="" id="" placeholder="password..." required>
            {%endblock%}
            <div>
                <input type="submit" value="Send">
                {%block register_me%}<a href="/register">Register me</a>{%endblock%}
            </div>
        </form>
            
    </div>
</body>
</html>