{%extends 'template.html'%}

{%block title%}Playlists{%endblock%}

{%block content%}
<ul class="playlists_nav">
    {%for playlist in playlists%}
    <li>
        <div class="music">
            <h2>Playlist1</h2>

        </div>
    </li>
    {%endfor%}
    <!-- <li>
        <div class="music">
            <h2>Playlist2</h2>

        </div>
    </li>
    <li>
        <div class="music">
            <h2>Playlist3</h2>

        </div>
    </li>
    <li>
        <div class="music">
            <h2>Playlist4</h2>

        </div>
    </li> -->
</ul>
{%endblock%}